@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(254, 255, 254);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-wrapper {
  display: inline-block;
}

.card {
  background-color: rgb(233, 235, 248);
  box-shadow: 0 0 5px #eee;
  height: 200px;
  width: 250px;
  display: inline-block;
  margin: 1rem;
  text-transform: capitalize;
  filter: grayscale(100%);
}
.card:hover {
  filter: grayscale(0%);
  transform: translateY(1px);
  cursor: pointer;
  /* box-shadow: 5px 2px 2px grey; */
}
.card img {
  width: 100%;
}
h1,
h3 {
  text-align: center;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.2rem;
}
footer {
  text-align: center;
}

footer p {
  font-size: 20px;
  font-weight: 800;
}
span {
  font-style: italic;
  font-weight: 600;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
}
ul {
  display: flex;
  justify-content: space-around;
}
ul li {
  text-decoration: none;
  list-style-type: none;
}
.home {
  height: 70vh;
}
.home h1 {
  margin-top: 50px;
  justify-content: center;
}
.about {
  height: 70vh;
}
.about p {
  margin-top: 60px;
  text-align: center;
}
.animal-link:hover {
  font-style: italic;
  color: red;
}
.animal-details {
  display: flex;

  text-align: center;
}
.animal-details img {
  height: 500px;
  width: 500px;
}
button {
  border: grey;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(250, 191, 191);
}
.search-field {
  display: block;
  text-align: center;
}
label {
  font-size: 1.5rem;
}
input {
  font-size: 1.5rem;
}
